:root {
    --color-primary: #8C4E2D;
    --color-title: #DFD0B8;
    --color-text: #333333;
    --color-highlight: #D3BBA6;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;


    background-color: var(--color-highlight);
    background: url("assets/images/lands-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    background-color: var(--color-primary);
    padding: 5px 10px;
    color: var(--color-title);
    text-align: center;
    margin-bottom: 15px;
}

section {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
    background: #D3BBA6;
    background: linear-gradient(0deg, rgba(211, 187, 166, 1) 11%, rgba(181, 137, 95, 1) 80%);
}

.dashboard {
    display: flex;
    flex-direction: row;

}

.title {
    color: var(--color-text);
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-transform: capitalize;
}

.resource-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.card {
    background: var(--color-primary);
    border-radius: 12px;
    padding: 5px 18px;
    min-width: 120px;
    color: var(--color-text);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25) inset;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.35);
}

.card-body p:first-child {
    margin: 8px 0 4px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: var(--color-title);
}

.card-body p:last-child {
    font-size: .8rem;
}




.sanitation {
    width: 100%;
    display: flex;
}




.status-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


}

.status-summary p {
    width: 180px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.summary-card {
    padding: 5px 0px;
    border-radius: 10px;
    background: var(--color-primary);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35) inset;
}

.summary-card h4 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--color-title);
}

.summary-card p {
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0px 0px 2px var(--color-text);
}





.camera-wrapper {
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: space-around;
}

.camera-display {
    width: 320px;
}

.camera-display .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.camera-display img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 5s ease-in-out;
    border-radius: 10px;
}

.tables {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.tables p {
    padding: 7px;
    border-radius: 7px;
    margin: 7px 0;
    transition: background-color 0.3s ease-in-out;
    background-color: var(--color-primary);
    text-shadow: 0px 0px 2px var(--color-text);
    text-transform: capitalize;
}

.camera-off {
    width: 320px;
    height: 280px;
    background: gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dirty {
    color: #DC2525;
}

.used {
    color: #9BB4C0;
}

.clean {
    color: #08CB00;
}
.close{
    width: 100%;
    color: var(--color-highlight);
    height: 100%;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

}

.loader {
    top: 50%;
    right: 50%;
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--color-primary);
    --_m:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    to {
        transform: rotate(1turn)
    }
}

@media (max-width: 770px) {
    html {
        background: url("assets/images/potr-bg.webp");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 12px;
    }

    header {
        margin: 0;
    }

    .dashboard {
        flex-direction: column;
        padding: 0 20px;
    }

    section {
        margin: 10px 0;
    }

    .resource-wrapper {
        flex-direction: row;
    }
    .status-summary p {
        width: 120px;
    }
}

@media (max-width: 460px) {
    html {
        font-size: 8px;
    }

    .card {
        border-radius: 5px;
        padding: 2px 3px;
        min-width: 60px;
    }

    .card-body p:first-child {
        margin: 4px 0 2px;
        font-size: 1.5rem;
    }

    .status-summary p {
        width: 80px;
    }
    .tables p{
        font-size: .7rem;
    }

}